$medium-breakpoint: 500px;

.retro-content-container {
  z-index: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  min-height: 100%;
  pointer-events: none;

  .retro-img {
    pointer-events: none;
  }

  .r-img-1 {
    position: absolute;
    top: 90px;
    right: 50px;
    width: 80px;
    height: 80px;

    @media only screen and (max-width: $medium-breakpoint) {
      top: 10px;
      left: 5px;
      width: 60px;
      height: 65px;
    }
  }

  .r-img-2 {
    position: absolute;
    top: 150px;
    left: 70px;
    width: 150px;
    height: 100px;

    @media only screen and (max-width: $medium-breakpoint) {
      position: absolute;
      top: 60px;
      left: 45px;
      width: 100px;
      height: 70px;
    }
  }

  .r-img-3 {
    position: absolute;
    top: 240px;
    left: 50px;
    width: 175px;
    height: 150px;

    @media only screen and (max-width: $medium-breakpoint) {
      position: absolute;
      top: 128px;
      left: 45px;
      width: 90px;
      height: 90px;
    }
  }

  .r-img-4 {
    position: absolute;
    top: 190px;
    right: 55px;
    width: 180px;
    height: 145px;

    @media only screen and (max-width: $medium-breakpoint) {
      bottom: 90px;
      right: 5px;
      width: 100px;
      height: 80px;
    }
  }

  .r-img-5 {
    position: absolute;
    bottom: 78px;
    right: 50px;
    width: 80px;
    height: 85px;

    @media only screen and (max-width: $medium-breakpoint) {
      bottom: 90px;
      right: 10px;
      width: 63px;
      height: 70px;
    }
  }

  .r-img-6 {
    position: absolute;
    bottom: 115px;
    right: 145px;
    width: 290px;
    height: 67px;

    @media only screen and (max-width: $medium-breakpoint) {
      bottom: 135px;
      right: 65px;
      width: 215px;
      height: 50px;
    }
  }
}
