$medium-breakpoint: 500px;

.carousel-container {
  padding-top: 100px;

  .carousel-wrapper-landscape {
    width: 600px;
    height: 350px;

    @media only screen and (max-width: $medium-breakpoint) {
      width: 95%;
      height: 300px;
      margin: auto;
    }
  }

  .carousel-wrapper-portrait {
    width: 600px;
    height: 500px;

    @media only screen and (max-width: $medium-breakpoint) {
      width: 95%;
      height: 300px;
      margin: auto;
    }
  }
}
