$medium-breakpoint: 500px;

.carousel-container {
  padding-top: 100px;
  max-width: 560px;
  margin: auto;

  .carousel-wrapper-landscape {
    width: 100%;
    height: 420px;
    margin: auto;
  }

  .carousel-wrapper-portrait {
    width: 100%;
    margin: auto;
  }

  .controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0 30px;
  }
}
