$medium-breakpoint: 500px;

.header-container {
  width: 100%;
  background-color: #7aa9b5;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000000;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);

  .site-controls {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
      width: 35px;
      height: 35px;

      @media only screen and (max-width: $medium-breakpoint) {
        width: 30px;
        height: 30px;
      }
    }

    div {
      margin: 0;
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      @media only screen and (max-width: $medium-breakpoint) {
        margin-left: 0;
      }

      p {
        margin-left: 10px;
        color: yellow;
        text-shadow: 2px 2px #ff0000;
      }

      .header-link {
        margin-left: 15px;
        cursor: pointer;
        background-position: center;
        background-size: cover;
      }

      .h-l-home {
        height: 40px;
        width: 70px;
        background-image: url('../home/assets/ct-home-header.png');

        &:hover {
          background-image: url('../home/assets/ct-home-hover-header.png');
        }

        @media only screen and (max-width: $medium-breakpoint) {
          width: 52px;
          height: 30px;
        }
      }

      .h-l-about {
        height: 30px;
        width: 100px;
        background-image: url('../home/assets/ct-about-header.png');

        &:hover {
          background-image: url('../home/assets/ct-about-hover-header.png');
        }

        @media only screen and (max-width: $medium-breakpoint) {
          width: 66px;
          height: 20px;
        }
      }

      .h-l-nfts {
        height: 30px;
        width: 100px;
        background-image: url('../home/assets/nfts.gif');
        border-radius: 3px;
        border: 0.5px solid black;
        box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);

        &:hover {
          background-image: url('../home/assets/nfts-hover.gif');
        }

        @media only screen and (max-width: $medium-breakpoint) {
          width: 66px;
          height: 20px;
        }
      }
    }
  }

  .burger-menu {
    width: 90px;
    height: 55px;
    cursor: pointer;

    @media only screen and (max-width: $medium-breakpoint) {
      width: 55px;
      height: 45px;
    }
  }
}
