.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .content-left {
    display: flex;
    height: 100%;
    flex: 1;
    background-color: blue;
  }

  .content-middle {
    display: flex;
    height: 100%;
    flex: 4;
    background-color: red;
  }

  .content-right {
    display: flex;
    height: 100%;
    flex: 1;
    background-color: green;
  }
}