.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .content-left {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

    .left-img {
      width: 50px;
      height: 50px;
    }

    .l-img-1 {
      position: absolute;
      top: -2px;
      left: 290px;
      width: 80px;
      height: 80px;
    }

    .l-img-2 {
      position: absolute;
      top: 90px;
      left: 55px;
      width: 150px;
      height: 100px;
    }

    .l-img-3 {
      position: absolute;
      top: 185px;
      left: 36px;
      width: 175px;
      height: 150px;
    }

    .l-img-4 {
      position: absolute;
      top: 425px;
      left: 190px;
      width: 95px;
      height: 80px;
    }

    .l-img-5 {
      position: absolute;
      bottom: 70px;
      left: 70px;
      width: 180px;
      height: 145px;
    }
  }

  .content-middle {
    display: flex;
    height: 100%;
    flex: 4;
  }

  .content-right {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .right-img {
      width: 50px;
      height: 50px;
    }

    .r-img-1 {
      position: absolute;
      top: 110px;
      right: 60px;
      width: 140px;
      height: 100px;
    }

    .r-img-2 {
      position: absolute;
      top: 330px;
      right: 10px;
      width: 110px;
      height: 100px;
    }

    .r-img-3 {
      position: absolute;
      bottom: 240px;
      right: 160px;
      width: 290px;
      height: 67px;
    }
    .r-img-4 {
      position: absolute;
      bottom: 15px;
      right: 110px;
      width: 115px;
      height: 100px;
    }
  }
}

@media (max-width: 1000px) {
  .content-container {
    flex-direction: column;

    .content-middle {
      flex: 3;
    }
  }
}
