.nfts-container {
  width: 100%;
  max-width: 600px;
  background-color: #e3dbe1;
  margin: 45px 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}
