.about-container {
  width: 100%;
  max-width: 600px;
  background-color: rgba(227, 219, 225, 0.8);
  margin: 45px 10px;
  margin-bottom: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
  border-radius: 4px;

  .about-content-container {
    width: 100%;
    z-index: 10;

    .about-text-container {
      margin-top: 30px;
      padding-bottom: 30px;
      width: 100%;
      font-family: 'Special Elite', cursive;

      .email-block {
        margin: 5px;
        margin-top: 30px;
        background-color: black;
        width: 230px;
        height: 16.5px;
        display: inline-block;
        cursor: pointer;
      }
    }

    .about-gif-container {
      font-family: 'Special Elite', cursive;
      display: flex;
      justify-content: space-between;
      position: relative;

      .img-comp {
        width: 200px;
        height: 200px;
        z-index: 20;
      }

      .img-bath {
        width: 300px;
        height: 150px;
        box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
        border-radius: 4px;
        position: absolute;
        top: 100px;
      }
    }
  }
}
