.carousel-item-container {
  text-align: center;
  padding: 5px;

  img {
    width: 96%;
    height: 96%;

    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  }
}
