.controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
  position: relative;
  z-index: 10000;
}

.retro-controls {
  background-color: aquamarine;
  background-color: rgba(127, 255, 212, 0.8);
}
